body, html {
    background-color: rgb(167, 26, 66);
    height: 100%;
}
#logo {
    position: absolute;
    top: 5;
    left: 5;
}
#videos {
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}
#subscriber {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 130px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#publisher {
    position: fixed;
    width: 330px;
    height: 190px;
    bottom: 10px;
    left: 0px;
    bottom: 0;
    z-index: 100;
    border: 2px solid white;
    border-radius: 3px;
}
#textchat {
    position: fixed;
    width: 16%;
    float: right;
    right: 0;
    height: 94%;
    background-color: rgba(255, 255, 255, 0.253);
    right: 0;
    top: 0;
}
#history {
     width: 95%;
     height: calc(100% - 40px);
     overflow: auto;
     padding: 5px;
}
input#msgTxt {
            height: 30px;
            position: absolute;
            bottom: 10;
            width: 96%;
}
#history .mine {
    color: #00ff00b1;
    text-align: right;
    margin-right: 10px;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
#history .theirs {
    color: #00ffffa5;
    margin-left: 10px;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
.OT_edge-bar-item{
    border-radius: 50px;
    background-color: rgb(0, 143, 57) !important;
}
#subscriber .OT_publisher, .OT_subscriber {
  width: 250px !important;
  height: 250px !important;
  border-radius: 15px;
}